<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <client>
	  <!-- enable one of the endpoints below to contrast client-service to client-esb-service configurations -->
      
	  <!-- direct endpoint (directly connects client to service) -->
      <!--<endpoint name="requestreply"
                address="net.tcp://localhost:8004/samples/patterns/requestreply" 
                binding="netTcpBinding" 
                bindingConfiguration="Binding" 
                contract="Neudesic.EnterpriseServiceBus.Samples.ICalculator">
      </endpoint>-->
		
	  <!-- indirect endpoint (connects client to service via ESB -->
	  <endpoint name="requestreply" address="net.tcp://localhost:8005/esb/patterns/requestreply" binding="netTcpBinding" bindingConfiguration="Binding" contract="Neudesic.EnterpriseServiceBus.Samples.ICalculator">
	  </endpoint>
    
	</client>

    <bindings>
		  <netTcpBinding>
        <binding name="Binding">
          <security mode="None">
          </security>
        </binding>
		  </netTcpBinding>
	  </bindings>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
